SOURCES/keyring-13.2.1.tar.gz
SOURCES/msrest-0.6.2.tar.gz
SOURCES/msrestazure-0.5.1.tar.gz
SOURCES/SecretStorage-2.3.1.tar.gz
SOURCES/adal-1.2.0.tar.gz
SOURCES/azure-sdk-4.0.0.tar.gz
SOURCES/certifi-2018.10.15.tar.gz
SOURCES/isodate-0.5.4.tar.gz
